<ul class="social">
    {% comment %}Facebook{% endcomment %}
    <li><div class="fb-like" data-href="{{ page.url | prepend: site.baseurl | prepend: site.url }}" data-layout="button" data-action="recommend" data-show-faces="false" data-share="true" style="vertical-align:top;zoom:1;*display:inline"></div></li>

    {% comment %}Twitter{% endcomment %}
    <li><a href="https://twitter.com/share" class="twitter-share-button"{count} data-url="{{ page.url | prepend: site.baseurl | prepend: site.url }}">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>

    {% comment %}LinkedIn{% endcomment %}
    <li><script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
    <script type="IN/Share" data-url="{{ page.url | prepend: site.baseurl | prepend: site.url }}"></script></li>
</ul>